body{
    font-family :arial,sans-serif ;
    background-color: #f2f2f2;
}
h1{
    text-align : center ;
}
form{
    width: 350px;
    background-color: white ;
    padding:20px;
    margin: auto ;
    border-radius: 8px;
}
input,select,textarea{
     width:100%;
        padding:8px;
}
input[type="radio"]{
    width: auto ;
}
input[type="submit"]{
    background-color: #4CAF50;
    color: white ;
    border: none ;
    cursor: pointer ;
}


